@model CourierService.Infrastructure.Data.AdministrationDbContext
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Still not finished , continue to work on it !</h1>
    <p>My web site is  <a href="https://clickandgrab.bg/">Click & Grab</a>.</p>
</div>
<hr/>
<div class="text-center" >
    <img  width="1000" height="300" src="@Url.Content("https://clickandgrab.bg/wp-content/uploads/2020/04/cropped-clickandgrab.bg-1-1.png")" alt="IMAGES" />

</div>