@{
    ViewData["Title"] = "Staff Place";
}
<h1>@ViewData["Title"]</h1>

<button class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Staff" asp-action="Index">Change Exist Tracking Status</a>
</button>
<a class="page-scroll" href="/Home/Menu">Menus</a>
<button class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">Call Courier</a>
</button>